body {
    text-align: center;
    padding: 0px 40px;
}

.personas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.persona {
    background: black;
    color: white;
} 